<div class="container answer-tile">
  <li>
    <div class="row">
      <div class="col-xs-8">
        {{answer.text}}
        <br>
        <br>
      </div>
      <div class="col-sx-2">
        <span class="glyphicon glyphicon-thumbs-up" {{action 'upvote' answer}}></span>
        <span class="glyphicon glyphicon-thumbs-down" {{action 'downvote' answer}}></span>
        <br>
        {{ netVote }}
      </div>
    </div>
    <div class="col-xs-offset-6">
      -{{answer.author}}
    </div>
  </li>
</div>
