<div class="container">
  <h4>{{model.author}} asked:</h4>
  <p>{{model.text}}</p>
  <p>{{model.details}}</p>
</div>
{{#if showUpdateForm}}
  <div>
    <form>
     <div class="form-group">
       <label for="author">Name:</label>
       {{input value=author id="author" class="form-control"}}
     </div>

     <div class="form-group">
       <label for="text">Question:</label>
       {{textarea value=text id="text" class="form-control" rows="10"}}
     </div>

     <div class="form-group">
       <label for="details">Details:</label>
       {{textarea value=details id="details" class="form-control" rows="5"}}
     </div>

     <button class="btn btn-info" {{action 'update'}}>Save</button>
    </form>
  </div>
{{else}}
  <button{{action 'showUpdateForm' question}}>Edit</button>
{{/if}}


<ul>
  {{#each question.answers as |answer|}}
    <li>{{answer.text}} -{{answer.author}}</li>
  {{/each}}
</ul>
