<div class="container">
  <span class="glyphicon glyphicon-heart right" {{ action "markAsFav" model }}> Favorite</span>
  <h4>{{model.author}} asked:</h4>
  <p>{{model.text}}</p>
  <p>{{model.details}}</p>
</div>
{{edit-question question=model update="updateQuestion"}}
{{new-answer question=model save="saveAnswer"}}


<ul>
  {{answer-list answers=model.answers upvote="updateAnswer" downvote="updateAnswer"}}
</ul>
